/* MAPA MAIN */


.mapa-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-main{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  margin-top: -8%;
  text-align: center;
}

.title-main{
  font-size: 70px;
  color: #1F3B4D;
}

.subtext-main{
  font-size: 30px;
  margin-top: -10%;
  color: #1F3B4D;
}

/* SOBRE */

.title-sobre{
  font-size: 50px;
  color: #1F3B4D;
  display: flex;
  justify-content: center;
}

.container-sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}

.minimal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10%;
  max-width: 12%;
  padding: 4%;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}

@media (max-width: 768px) {
  .title-sobre{
    font-size: 45px;
  }

  .container-sobre{
    flex-direction: column;
  }

  .minimal-container{
    padding: 10%;
    max-width: 45%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
}